<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}média monitor{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4oF82EXeW4tNRGp+DPAo2FCfY7ZyGvqU76g+YXTNvd6I20rR0mj8hCaekivz5qC4Ouee2fMUe8LL2v1wRGocGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        {% block extra_head %}
        <!-- Additional head content can be added here by child templates -->
        {% endblock %}
    </head>
    <body>

        <header>
        <h1>
        <a href="{% url 'index' %}" class="no-style-link">média monitor</a>
            </h1>
        <!-- Add other header elements here -->
    </header>
        {% block content %}
        <!-- Default content goes here -->
        {% endblock %}

    </body>
</html>