<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saját írások</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4oF82EXeW4tNRGp+DPAo2FCfY7ZyGvqU76g+YXTNvd6I20rR0mj8hCaekivz5qC4Ouee2fMUe8LL2v1wRGocGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- Your introductory content here -->

    <h1>Saját írások</h1>
    <ul>
        {% for entry in entries %}
        <li>
            <strong>{{ entry.title }}</strong> - {{ entry.pub_date }}
            <p>{{ entry.content }}</p>
        </li>
        {% endfor %}
    </ul>

    <!-- Your other content here -->

</body>
</html>