<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>média monitor</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4oF82EXeW4tNRGp+DPAo2FCfY7ZyGvqU76g+YXTNvd6I20rR0mj8hCaekivz5qC4Ouee2fMUe8LL2v1wRGocGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>

            <h1>média monitor</h1>


        <div class="container">
            <div class="sidebar">

                <h2>Üdvözlünk a média monitoron</h2>

                <p>Ez az oldal azért jött részre, hogy számszerűsítsen adatokat a magyar médiáról.
                A magyar közéletben sajnos politikai beállítottságtól függetlenül szokás az ellentétes
                politikai oldal médiáját propagandázni. Ennek szeretnénk véget vetni és számokkal
                bizonyítani bizonyos kérdéseket.<br><br>
                Kezdetben az oldal főleg hírportálokon megjelenő címekben található kifejezések alapján
                    fog adatokat közölni, majd ahogy haladunk előrébb, tartalom elemzéseket is mutatunk majd. </p>

                <div class="search-field">
                    <h2>Kereső</h2>
                    <form method="get" action="{% url 'graph_view2' %}">
                        {% csrf_token %}
                        <ul class="expression-list">
                            <select name="expression" id="expression">
                                {% for term in terms %}
                                    <option value="{{ term }}">{{ term }}</option>
                                {% endfor %}
                            </select>
                            <select name="expression" id="expression">
                                <option value="" disabled selected>Második kifejezés (opcionális)</option>
                                {% for term in terms %}
                                    <option value="{{ term }}">{{ term }}</option>
                                {% endfor %}
                            </select>
                            <label for="start_date">Mikortól:</label>
                            <input type="date" id="start_date" name="start_date" lang="hu">
                            <br>
                            <label for="end_date">Meddig:</label>
                            <input type="date" id="end_date" name="end_date" lang="hu">
                        </ul>
                        <input type="submit" value="mehet">
                    </form>

                <script src="{% static 'js/custom.js' %}"></script>


                            Lista a kifejezést tartalmazó címekről
                            <form method="get" action="{% url 'view_titles' %}">
                                {% csrf_token %}
                                        <ul class="expression-list">

                                   <select name="expression" id="expression">
                            {% for term in terms %}
                                <option value="{{ term }}">{{ term }}</option>
                            {% endfor %}
                        </select>
                                             <label for="start_date">Mikortól:</label>
                        <input type="date" id="start_date" name="start_date" lang="hu">
                        <br>
                        <label for="end_date">Meddig:</label>
                        <input type="date" id="end_date" name="end_date" lang="hu">

                                </ul>
                                <input type="submit" value="mehet">
                            </form>

                </div>

                <div class="entry-list">
                    <h2>Elemzések</h2>
                        <ul>
                            {% for entry in entries %}
                                <h3>{{ entry.title }} </h3>
                                {{ entry.pub_date }}
                    <!--<p>{{ entry.content }}</p>-->
                            {% endfor %}
                        </ul>
                </div>
            </div>
            <div class="media-names">
                <a href="https://telex.hu/" class="block" id="telex">Telex</a>
                <a href="https://444.hu/" class="block" id="negy44">444</a>
                <a href="https://origo.hu/" class="block" id="origo">Origo</a>
                <a href="https://index.hu/" class="block" id="index">Index</a>
                <a href="https://hang.hu/" class="block" id="magyar-hang">Magyar Hang</a>
                <a href="https://magyarnemzet.hu/" class="block" id="magyar-nemzet">Magyar Nemzet</a>
                <a href="https://ripost.hu/" class="block" id="ripost">Ripost</a>
                <a href="https://pestisracok.hu/" class="block" id="pestiSarcok">Pestisrácok</a>
                <a href="https://hvg.hu/" class="block" id="hvg">HVG</a>
            </div>

            <!--
            <table class = "media-names">

                <tr>
                    <td><a href="https://telex.hu/" id="telex">Telex</a><br></td>
                    <td><a href="https://444.hu/" id="negy44">444</a></td>
                    <td><a href="https://origo.hu/" id="origo">Origo</a></td>
                    <td><a href="https://index.hu/" id="index">Index</a></td>
                    <td><a href="https://hang.hu/" id="magyar-hang">Magyar Hang</a></td>
                    <td><a href="https://magyarnemzet.hu/" id="magyar-nemzet">Magyar Nemzet</a></td>
                    <td><a href="https://ripost.hu/" id="ripost">Ripost</a></td>
                    <td><a href="https://pestisracok.hu/" id="pestiSracok">Pestisrácok</a></td>
                    <td><a href="https://hvg.hu/" id="hvg">HVG</a></td>
                </tr>
            </table>-->
            <div class="graph">
                {% include 'graph2.html' %}
            </div>
        </div>

        <div class="credits">
                készítette: Hartvig Márton

        </div>

    </body>
</html>