<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>propaganda </title>
        {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>
    <body>

            <h1>Üdvözlünk a Propaganda kalkulátoron</h1>

            Ez az oldal azért jött részre, hogy számszerűsítsen adatokat a magyar médiáról.
            A magyar közéletben sajnos politikai beállítottságtól függetlenül szokás az ellentétes
            politikai oldal médiáját propagandázni. Ennek szeretnénk véget vetni és számokkal
            bizonyítani bizonyos kérdéseket.<br>
            Kezdetben az oldal főleg hírportálokon megjelenő címekben található kifejezések alapján
            fog adatokat közölni, majd ahogy haladunk előrébb, tartalom elemzéseket is mutatunk majd.

           <!-- <canvas id="articleChart" width="400" height="200"></canvas>
            <script>
  // Function to fetch data from the Django backend and create a chart
  async function createChart() {
    // Fetch the data from your Django API endpoint
    const response = await fetch('/articles/article-list'); // Replace with your actual API endpoint
    const data = await response.json();

    // Extract the required data for the chart (e.g., labels and values)
    const labels = data.map(article => article.title);
    const values = data.map(article => article.pub_date);

    // Get the canvas element
    const ctx = document.getElementById('articleChart').getContext('2d');

    // Create a chart using Chart.js
    new Chart(ctx, {
      type: 'bar', // You can change the chart type as needed
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Publication Date',
            data: values,
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Change the colors as needed
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          },
        ],
      },
    });
  }

  // Call the createChart function to generate the chart
  createChart();
</script>-->
            <h1>Válassz kifejezést!</h1>
            <form method="get" action="{% url 'get_terms_on_sites' %}">
                {% csrf_token %}
                <input type="checkbox" id="expression" name="expression" value="Orbán">
                <label for="expression"> Orbán</label><br>
                <input type="checkbox" id="experssion" name="expression" value="Gyurcsány">
                <label for="expression"> Gyurcsány</label><br>
                <input type="submit" value="mehet">
            </form>



            <h1>Elemzések</h1>
    <ul>
        {% for entry in entries %}
        <li>
            <strong>{{ entry.title }}</strong> - {{ entry.pub_date }}
            <p>{{ entry.content }}</p>
        </li>
        {% endfor %}
    </ul>


    </body>
</html>