<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>propaganda </title>
        {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>
    <body>

            <h1>Üdvözlünk a Propaganda kalkulátoron</h1>

            Ez az oldal azért jött részre, hogy számszerűsítsen adatokat a magyar médiáról.
            A magyar közéletben sajnos politikai beállítottságtól függetlenül szokás az ellentétes
            politikai oldal médiáját propagandázni. Ennek szeretnénk véget vetni és számokkal
            bizonyítani bizonyos kérdéseket.<br>
            Kezdetben az oldal főleg hírportálokon megjelenő címekben található kifejezések alapján
            fog adatokat közölni, majd ahogy haladunk előrébb, tartalom elemzéseket is mutatunk majd.

            <h1>Gráf a kifejezést tartalmazó cikkek számáról. Válassz kifejezést!</h1>
            <form method="get" action="{% url 'graph_view' %}">
                {% csrf_token %}
                <ul>
                    {% for term in terms %}
                    <li>
                        <input type="radio" id="expression" name="expression" value="{{term}}">
                        <label for="expression"> {{term}}</label><br>
                    </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="mehet">
            </form>


            <h1>Lista a kifejezést tartalmazó címekről</h1>
            <form method="get" action="{% url 'view_titles' %}">
                {% csrf_token %}
                <ul>
                    {% for term in terms %}
                    <li>
                        <input type="radio" id="expression" name="expression" value="{{term}}">
                        <label for="expression"> {{term}}</label><br>
                    </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="mehet">
            </form>


            <h1>Elemzések</h1>
    <ul>
        {% for entry in entries %}
        <li>
            <strong>{{ entry.title }}</strong> - {{ entry.pub_date }}
            <p>{{ entry.content }}</p>
        </li>
        {% endfor %}
    </ul>


    </body>
</html>