<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elemzések</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4oF82EXeW4tNRGp+DPAo2FCfY7ZyGvqU76g+YXTNvd6I20rR0mj8hCaekivz5qC4Ouee2fMUe8LL2v1wRGocGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="{% static 'js/tinymce_init.js' %}"></script>

</head>
<body>

    <!-- Your introductory content here -->

    <h1>Elemzések</h1>
        {% for post in posts|dictsortreversed:"pub_date" %}
            <div class="blog_post">
                <h1>
                    {{ post.title }}
                </h1>
                <div>
                    {{ post.content|safe}}
                </div>
                <p>
                    {{ post.pub_date }}
                </p>
            </div>
        {% endfor %}

    <!-- Your other content here -->

</body>
</html>