{% extends "base.html" %}
{% block title %}
    Elemzések
{% endblock %}
{% block content %}

    <h1>Elemzések</h1>
        {% for post in posts|dictsortreversed:"pub_date" %}
            <div class="blog_post">
                <h1>
                    {{ post.title }}
                </h1>
                <div>
                    {{ post.content|safe}}
                </div>
                <p>
                    {{ post.pub_date }}
                </p>
            </div>
        {% endfor %}
{% endblock %}