{% extends "base.html" %}
{% block title %}
Cikk címek
{% endblock %}
{% block extra_head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Címek listája</h1>

    {{ plot_div|safe }}

    <p>Összesen: {{ titles|length }}</p>
    <ul>
        {% for title in titles %}
            <li>
                <strong>Weboldal:</strong> {{ title.website }}<br>
                <strong>Kifejezés:</strong> {{ title.term }}<br>
                <strong>Cím:</strong> {{ title.title }}<br>
                <strong>Link:</strong> {{ title.link }}<br>
                <strong>Megjelenési dátum:</strong> {{ title.pub_date }}
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}