<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cikk címek</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4oF82EXeW4tNRGp+DPAo2FCfY7ZyGvqU76g+YXTNvd6I20rR0mj8hCaekivz5qC4Ouee2fMUe8LL2v1wRGocGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<header>
        <h1>
        <a href="{% url 'index' %}">média monitor</a>
            </h1>
        <!-- Add other header elements here -->
    </header>

    <h1>Címek listája</h1>

    {{ plot_div|safe }}

    <ul>
        {% for title in titles %}
            <li>
                <strong>Weboldal:</strong> {{ title.website }}<br>
                <strong>Kifejezés:</strong> {{ title.term }}<br>
                <strong>Cím:</strong> {{ title.title }}<br>
                <strong>Link:</strong> {{ title.link }}<br>
                <strong>Megjelenési dátum:</strong> {{ title.pub_date }}
                <br>
            </li>
        {% endfor %}
    </ul>
        <p>Total number of articles: {{ titles|length }}</p>


</body>
</html>